<div>
    <button type="button" (click)="onStartShift()">Start Shift</button>
</div>

<div>
    <button type="button" (click)="onStartBreak()">Start Break</button>
</div>

<div>
    <button type="button" (click)="onEndBreak()">End Break</button>
</div>

<div>
    <button type="button" (click)="onStartLunch()">Start Lunch</button>
</div>

<div>
    <button type="button" (click)="onEndLunch()">End Lunch</button>
</div>

<div>
    <button type="button" (click)="onEndShift()">End Shift</button>
</div>
