<div>
    <button type="button" (click)="onStartShift()">Start Shift</button>
</div>

<div>
    <p-table [value]="shiftData">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Action
                    </div>
                </th>
                <th><div class="flex justify-content-between align-items-center">ID</div></th>
                <th><div class="flex justify-content-between align-items-center">Shift start time</div></th>
                <th><div class="flex justify-content-between align-items-center">Break start time</div></th>
                <th><div class="flex justify-content-between align-items-center">Break end time</div></th>
                <th><div class="flex justify-content-between align-items-center">Lunch start time</div></th>
                <th><div class="flex justify-content-between align-items-center">Lunch end time</div></th>
                <th><div class="flex justify-content-between align-items-center">Shift end time</div></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shift>
            <tr>
                <td>
                    <button type="button" (click)="onStartBreak(shift.id)">Start Break</button>
                    <button type="button" (click)="onEndBreak(shift.id)">End Break</button>
                    <button type="button" (click)="onStartLunch(shift.id)">Start Lunch</button>
                    <button type="button" (click)="onEndLunch(shift.id)">End Lunch</button>
                    <button type="button" (click)="onEndShift(shift.id)">End Shift</button>
                </td>
                <td>{{shift.id}}</td>
                <td>{{shift.workShiftStartTime}}</td>
                <td>{{shift.breakStartTime}}</td>
                <td>{{shift.breakEndTime}}</td>
                <td>{{shift.lunchStartTime}}</td>
                <td>{{shift.lunchEndTime}}</td>
                <td>{{shift.workShiftEndTime}}</td>

            </tr>
        </ng-template>
    </p-table>
</div>